// =============================================================================
// BASE STYLING
// =============================================================================

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: #ccc;
  font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
}

