// =============================================================================
// BASE STYLING
// =============================================================================

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: 'Open sans', Arial, sans-serif;
  background-color: $grey-light;
  color: $blackish;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}
