// =============================================================================
// HELPERS
// =============================================================================

.container {
  max-width: 1000px;
  margin: 0 auto;
}
.section {
  background-color: #fff;
  padding: 20px;
  border: solid 1px #aaa;
  border-bottom: none;
}
.section--last {
  border-bottom: solid 1px #aaa;
  margin-bottom: 20px;
}
.section--spaced {
  margin-bottom: 20px;
}

.hidden {
  display: none;
}


.clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}
