// =============================================================================
// HELPERS
// =============================================================================

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.hidden {
  display: none;
}


.clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}
