// =============================================================================
// SETTINGS
// =============================================================================

$blackish: #484848;
$cloud: #ecf0f1;

$grey-light: #F2F2F2;
$grey-normal: #BABABA;
$grey-dark: #8C8C8C;

$border: #e0e0e0;
