// =============================================================================
// TABS
// =============================================================================

.tabs {


}


.tabs__triggers {
  margin-bottom: 40px;
  ul {
    @extend .clearfix;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li {
    float: left;
    width: (100/3) * 1%;
    border-left: solid 1px transparent;
    border-right: solid 1px transparent;
  }
}

.tabs__trigger {
  display: block;
  background-color: #ddd;
  cursor: pointer;
  text-align: center;
  padding: 20px;

  text-decoration: none;
  color: #000;
  background-color: #ddd;
}

.tabs__trigger--active {
  color: #fff;
  background-color: $blackish;
}


.tabs__section {
  display: none;
}

.tabs__section--active {
  display: block;
}
